:host {

  #background {
    background-color: lighten($color: #3c3c3c, $amount: 20%);
    height: 100vh;
    width: 100vw;
  }

  #login-modal{
    background-color: #3c3c3c;
    padding: 50px;
    width: 60%;

    #title {
      text-align: center;
    }

    .formgroup {

      div {
        input {
          background: transparent;
          border: none;
          border-bottom: 0.1px solid #fff;
          color: #fff;
          outline: none;
          width: 100%;
        }
      }
    }

    #submit-btn{
      text-align: center;
      width: 100%;

      button{
        border: 1px solid darken($color: #3c3c3c, $amount: 10%);
        padding: 10px 0;
        width: 30%;
      }
    }
  }

}
