<div id="background">
  <div id="login-modal" class="container container-fluid text-white">

    <div id="title"><h1>Login</h1></div>

    <form class="formgroup">

      <div>
        <label for="emailInput" class="d-block">E-mail</label>
        <input type="text" id="emailInput">
      </div>

      <div>
        <label for="passInput" class="d-block">Password</label>
        <input type="password" id="passInput">
      </div>

    </form>

    <div id="submit-btn"><button>login</button></div>

  </div>
</div>
